{% extends "base.html" %}

{% block title %}My library · Agora{% endblock %}

{% block content %}
  <h1>My library</h1>
  {% if entries %}
    <ul>
      {% for entry, game in entries  %}
        <li>
          {% if game.cover_image_id %}
            <img src="{{ cover_url(game.cover_image_id) }}" alt="Cover of {{ game.name }}" width="45">
          {% endif %}
          <a href="/library/{{ entry.id }}">{{ game.name }}</a>
          {% if game.release_date %}({{ game.release_date.year }}){% endif %}
          {% include "partials/entry_status.html" %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>You have no games yet</p>
    <p><a href="/search">Search for a game to add.</a></p>
  {% endif %}
{% endblock %}